<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
	
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
</head>
<body>


	<h2>Dados do Cliente</h2>


	<table class="table table-striped" th:object="${client}">
		<tr>
			<th>Nome</th>
			<td th:text="*{name}" />
			<th>Email</th>
			<td th:text="*{email}" />
			<th>Telefone</th>
			<td th:text="*{phone}" />
			<th>Endereço</th>
			<td th:text="*{address_id}" />
		</tr>
	</table>

	<a th:href="@{{id}(id=${client.id})}" class="btn btn-default"  method="put">Editar
		Cliente</a>


</body>

</html>
