<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:clients="listClient" >


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
</head>
<body>

	<div style="padding: 10px;" class="card-box mb-30" th:ob>
		<h3>Cadastro de Cliente</h3>
		<br>
		<form>
			<div class="form-group">
				<label>Cliente</label> 
				<select class="form-control"
					name="clientId" id="clientId">
					<option value="" selected disabled>Selecione um cliente...</option>
					<option th:each="client : ${clientList}"
						th:value="${client.id}" th:text="${client.name}"></option>
				</select>
			</div>
			<button style="float: right; clear: both;"
				class="btn btn-secondary scroll-click" type="submit">Buscar</button>
			<br> <br>
		</form>
	</div>
	<div id="div" style="display: none;">
		<div class="pd-20 card-box mb-30">
				<div class=" table-responsive clearfix mb-20">
				<table id="clientId" class=" table-striped table">
					<thead>
						<tr>
							<th >Nome</th>
							<th >Email</th>
							<th >Telefone</th>
							<th >Endereço</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="client: ${clientList}">
							<td th:text="${client.name}"></td>
							<td th:text="${client.email}"></td>
							<td th:text="${client.phone}"></td>
							<td th:text="${client.address_id}"></td>
							<td><div class="dropdown">
								<a	class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown"> 									
									<i	class="dw dw-more"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
									<a class="dropdown-item" th:href="@{/clients/listClient}"><i class="dw dw-eye"></i>	Visualizar lista Completa</a>
									<a class="dropdown-item" method="put" href="@{/clients/__${client.id}__}"><i class="dw dw-edit2"></i> Editar</a> 
									<a class="dropdown-item"  method="delete" href="@{/clients/__${client.id}__}"><i class="dw dw-delete-3"></i> Deletar</a>		
								</div>
							</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
