<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Cadastro Sucesso</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Cadastrado</h1>
    <p th:text="'id: ' + ${client.id}" />
    <p th:text="'name: ' + ${client.name}" />
    <p th:text="'email: ' + ${client.email}" />
    <p th:text="'phone: ' + ${client.phone}" />
    <p th:text="'address: ' + ${client.address}" />
    <a href="/client">Realizar novo cadastro</a>
</body>
</html>